<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="cnf" class="com.example.demo.print.Cnf" />
	<bean id="statistic" class="com.example.demo.print.Statistic">
		<constructor-arg ref="cnf" />
	</bean>
	<bean id="printSystem" class="com.example.demo.print.PrintSystem">
		<constructor-arg ref="statistic" />
	</bean>
</beans>
